
    .timeline {
     

      /* background-color: rgb(0, 255, 21); */
}

    .timeline_dot{
        background-color: #c3e3e6; 

        padding: 20px!important;
    }

.time_item{
    padding: 0px;
    height: 150px;
}
.timeline .timeline_seperator{
    padding: 0px !important;
}
.time_text{
    padding-top: 22.5px;
}
.dot_inside{
    padding-top: 0px;
    font-size: 15px!important;
    
    display: flex;
    justify-content: center;
    align-items: center;  
}
.time_content{
    padding: 0!important ;
   
}

.time_content .year{
    padding-top: 0px;
    padding-left: 10px;
    height: 78px;
    display: flex;
    /* justify-content: center; */
    align-items: center;  
    /* text-align: center; */
    font-weight: 700!important;
    /* width: 175px; */
    position: relative;
  }

  .time_content_left .left_wrapper .year_left{
    padding-top: 0px;
    padding-right: 10px;
    height: 78px;
    display: flex;
    position:relative;
    float:right;
    left: 0;
    /* justify-content: center; */
    align-items: center;  
    /* text-align: center; */
    font-weight: 700!important;
    /* width: 175px; */
    
  }
  .time_content_left .left_wrapper {
    /* width: 175px; */
    float :right;
    
  }
  .time_content_left .left_wrapper .content_left{
    padding-top: 0px;
    padding-right: 10px;
    float: right;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
    font-weight: 520!important;
    /* width: 178px; */
  }

  .time_content .content {
    padding-top: 0px;
    padding-left: 10px;
    
    height: 78px;
    display: flex;
    /* justify-content: center; */
    align-items: center;  
    /* text-align: center; */
    font-weight: 520!important;
    /* width: 175px; */
  }

  .time_content_left{
    padding: 0!important ;


  }
  .MuiTimelineItem-missingOppositeContent:before {
    flex: 0!important; 

    /* background-color: red; */

  }

.timeline_header{
    text-align: center;
    color: rgb(100, 101, 102);
}
@media only screen and (max-width: 1000px) {
   

    
      .time_content .content {
        padding-top: 18px;
        padding-left: 10px;
        
        height: 78px;
        display: flex;
        justify-content: center;
        align-items: center;  
        text-align: center;
        font-weight: 520!important;
      
      }

  }