.resume_container{
    width: auto;
    max-width: 1063px;
    max-height: 1375px;
    padding-top: 10px;
}
.header_col{
    padding-left: 0;
}
h2{
    padding-left:  0;
    font-size: 20px;
    margin-left: 0;
}
.resume_row{
    padding: 0px;
}
.work{
    float: left;
    
}   
dl{
   
    
}
li{
  list-style-position:outside ;
 
    }
.work_header{
    padding: 0;
}
.date_tag{
    font-size: 13px;
    padding: 0;
}
header{
    padding: 0;
    width: 100%!important;
}
.Header_name{
    font-size: 40px;
    padding-left: 0;
}

h2 {
    text-decoration: underline;
    font-weight: 500;
  }
  li{
      font-weight: 350;
  }