@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
$prim-green: #003041;
$prim-blue: #007465;
$prim-grey:#0067AC;
$prim-coral:#A9B4C2;
$prim-cultured:#EEF1EF;
$prim-cultured-dark:#d1d4d2;
$prim-magenta: #fffc5cfa;
 