.container_resume{
    justify-content: center;
 
}

.body_md{
    font-family: 'Ubuntu', sans-serif;
    width: auto;
    max-width: 1000px;
    color : rgb(100, 101, 102);
    
    
 }
 .resume_row{
     padding: 0;
 }
 h2{
     font-size: 25px;
 }
