
.intro{
    margin-left: 120px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.Skills_body{
    padding:0% 0%;
}

.slide_text{
    color : rgb(100, 101, 102);
    font-size: 20px;
    text-align: center;
}
.text_body{
    /* margin-right: 30%; */
    /* margin-left: 20%;
    margin-right:  20%; */

    margin-top: 3%;
}

.icons{
    width: 96px;
    height: 96px;
    transition: transform .2s;
    padding-bottom: 10px;
}
.icons:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.Stars{
    display: flex;


    justify-content: center;
}

.icon_skills{
    display: flex;


    justify-content: center;
    padding-top: 10%;
}
.checked {
    color: orange;
    background-size: 50% auto;
  }

.countainer {
    justify-content: center;

}
.tooltips {
    text-align:left;
    background-color: white;
    color: black;
  }
  .tech_skills{
      margin-top: 0%;
      
      color: rgb(100, 101, 102);
  }
  .languages{
      margin-left: 0%;
      color: rgb(100, 101, 102);
      text-align: center;
      padding-top: 2.5%;
      padding-bottom: 2.5%;
  }


.img-fluid{
    /* height: auto;
    width: auto;
    max-height: 500px;
    max-width: 100% !important; */
    border-radius: 90%;
    -webkit-border-radius: 90%;
    -moz-border-radius: 90%;
    -ms-border-radius: 90%;
    -o-border-radius: 90%;
    margin:20px;
    float:left;
    shape-outside: circle();
    background-color: green;

}
.img-max{
    max-width: 500px;
  width:100%;
}

.circle_me{
    position:relative;
    shape-outside: circle();

}
  .introduction{
     
     font-family: 'Ubuntu', sans-serif;
     font-weight: 300;
     font-size: 20px;
     margin-bottom: 10px;
  }
 .intro_body{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(100, 101, 102);
    
}
 
@media (max-width: 1366px) {
    
    .Skills_body{
        padding:0% 0%;
    }
    .curcke_me{
        display: flex;


        justify-content: center;
    }
    
.img-fluid{
    /* height: auto;
    width: auto;
    max-height: 500px;
    max-width: 100% !important; */
    border-radius: 90%;
    -webkit-border-radius: 90%;
    -moz-border-radius: 90%;
    -ms-border-radius: 90%;
    -o-border-radius: 90%;
    margin:0px;
    float:left;
    shape-outside: circle();
    background-color: green;

}
.introduction{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 10px;
}

   
}