.MuiAppBar-colorPrimary{
    background-color: white!important;
}
.MuiTab-textColorPrimary.Mui-selected{
    color:#646566!important;
    font-weight: 500;
}
.MuiPaper-elevation4{
    box-shadow: 0px 0px 0px 0px !important;
}
.PrivateTabIndicator-colorPrimary-3{
    background-color: rgb(100, 101, 102)!important;
}
.disc{
    display: flex;
    align-items: center; 
    justify-content: center;;
    width: 20px
    
}
icon_disc{
    vertical-align: middle
}